<section>
     <iframe src="https://www.google.com/maps/d/embed?mid=1LCnmjEtXuXvuee8jPC6wvWxircfgzXEU" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>

<section class="my-3 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 my-2">
                <div class="card border">
                    <div class="card-header">
                        <h6>Hubungi Kami</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="card-text" style="font-size: 13px">Ingin bertanya sesuatu? Ingin bekerja sama dengan kami? Silahkan isi formulir dibawah ini dan kami akan membalasnya paling lambat 1x24Jam! </p>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="nama"/>
                                </div>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="email" />
                                </div>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea rows="4" cols="50" placeholder="Pesan" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div class="card border">
                    <div class="card-header">
                        <h6>Kontak Kami</h6>
                    </div>
                    <div class="card-body">
                        <p class="card-text" style="font-size: 13px">Ruko Food Arcade CG 3-5 GWalk, Citraland, <br />Surabaya
                                <br /> Hand Phone: 0878.5327.5086 </p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">The page you are looking for was not found.</div>
                <a href="https://www.totoprayogo.com/#" class="btn btn-link">Back to Home</a>
            </div>
        </div>
    </div>
</div> -->