<div class="container" >
    <div class="row pb-5 px-5">
      <div class="col-md-3">
      </div>
      <div class="col-md-6" style="margin:5px 0px">
        <div class="card rounded-0" style="border: transparent !important">
          <div class="card-header text-center" style="border:none !important">
            <img src="assets/image/logo.png" class="mr-3" style="position: relative"/><span style="font-weight: bold; font-size: 20px">ASESME</span>
          </div>
          <div class="card-body mt-3 border">
            <h3 class="mb-3" style="font-weight: bold"> Lupa Password</h3>
            <form [formGroup]="rForm" class="form">
              <div class="form-group">
                <input type="text" formControlName="email" class="form-control rounded-0 required" placeholder="Email Anda">
              </div>
              
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <button (click)="lupaPassword(rForm.value)" [disabled]="!rForm.valid" class="btn btn-success form-control" style="background-color: #FF7900 !important; border: #FF7900">Reset</button>
                  </div>
                </div>
              </div>
              
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-3">
  
      </div>
    </div>
  
  </div>