<form class="px-2 mt-3" [formGroup]="FormKemampuan">
  <h3>Kemampuan Anda</h3>
  <hr class="my-4" />
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="JenisKelamin">Kategori Posisi Pekerjaan</label>
        <angular2-multiselect 
            [data]="jobCategory" 
            [settings]="settings" 
            (onSelect)="getJobPosition($event)" 
            formControlName="job_pos_cat">
        </angular2-multiselect>
        <!-- {{ FormKemampuan.value | json}} -->
        <!-- <select class="form-control" formControlName="job_pos_cat" id="JenisKelamin">
            <option value="" selected>Pilih Kategori </option> 
            <option *ngFor="let jc of jobCategory">{{jc.name}} </option>                        
        </select> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="JenisKelamin">Posisi Pekerjaan</label>
        <angular2-multiselect 
            [data]="jobPosition" 
            [settings]="settingsJobs" 
            formControlName="job_position_id">
        </angular2-multiselect>
        <!-- <select class="form-control" formControlName="job_pos" id="JenisKelamin">
            <option value="" selected>Pilih Posisi Pekerjaan </option> 
            <option *ngFor="let gender of genders">{{gender}} </option>                        
        </select> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="Kemampuan">Kemampuan Anda:</label>
        <textarea class="form-control" rows="5" formControlName="skill" id="Kemampuan"></textarea>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="!FormKemampuan.valid" (click)="update(FormKemampuan.value, content)">Simpan</button>
      </div>
    </div>
  </div>
</form>

<ng-template class="modal rollIn animated" #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Info</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h5>Data Berhasil Tersimpan .</h5>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>