<section style="background-color: #FF891F">
  <div class="container bg-container">
    <div class="mx-auto py-5" style="min-height: 325px">
      <h3 class="text-center kenali-pola">
        KETAHUI KEMAMPUANMU MENGELOLA UANG DENGAN
          {{master.hasilData.name}}
      </h3>      
    </div>
  </div>
</section>
<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="img mx-auto">
          <img class="responsive " src="../../../assets/image/head_psyc.png" alt="Generic placeholder image">
          <!-- <h2>Heading</h2> -->
        </div>
          <p class="mt-5 detail-p" innerHtml="{{master.hasilData.short_descriptions}}"> </p>
          <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
      </div>
    </div>
  </div>
</section>
<section class="my-5 py-5">
  <div class="container">  
    <div class="row featurette">
      <div class="col-md-5 px-5 mx-auto mt-2">
        <div class="card " style="width: 100%; border:none !important" >
          <img class="text-center img-card" src="../../../assets/image/amp.png"   alt="Generic placeholder image">
        </div>
      </div>
      <div class="col-md-7 order-md-2 mt-2">
        <h2 class="featurette-heading" style="color: #FF7900">{{master.hasilData.name}}</h2>
        <p class="lead">Apa itu {{master.hasilData.name}}? <br /></p>
        <p innerHtml="{{master.hasilData.name}} adalah {{master.hasilData.descriptions}}"></p>
      </div>
     
    </div>
  </div>
</section>

<section class="my-5 py-5" style="background-color: #444444">
  <div class="container">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <div class="card " style="width: 100%; background-color: transparent !important; border:none !important">
          <img class="text-center img-card" src="../../../assets/image/illustration1.png"  alt="Generic placeholder image">
        </div>
      </div>
    </div>
  </div>
</section>